.task {
  height: auto;
  margin: 5%;
  background-color: #eee;
  border: 1px solid #aaa;
}

#formtable {
  border-style: none;
}

.task h4 {
  color: #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#checkbutton {
  position: relative;
  left: 10%;
}

#data_table {
  border-collapse: collapse;
}

#data_table, #data_table th, #data_table td {
  margin: 10px 0;
  border: solid 1px;
  padding: 2px 4px;
  font: 15px;
}

#data_table th {
  font-weight: bold;
}

#data_table td {
  text-align: center;
}
